<!-- home -->
	<section class="home">
		<!-- home bg -->
		<div class="owl-carousel home__bg">
			<div class="item home__cover" data-bg="../img/home/11.png"></div>
			<div class="item home__cover" data-bg="../img/home/12.png"></div>
			<div class="item home__cover" data-bg="../img/home/13.png"></div>
			<div class="item home__cover" data-bg="../img/home/14.png"></div>
		</div>
		<!-- end home bg -->

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>

					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>

				<div class="col-12">
					<div class="owl-carousel home__carousel">
						
						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="../img/home/1.png" alt="">
									<a href="/detailLixi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								
								<div class="card__content">
									<h3 class="card__title"><a href="#">{{this.fullName}}</a></h3>
									<span class="card__category">
										<a href="#">{{this.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>		
                        	<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="../img/home/2.png" alt="">
									<a href="/detailLixi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								
								<div class="card__content">
									<h3 class="card__title"><a href="#">{{this.fullName}}</a></h3>
									<span class="card__category">
										<a href="#">{{this.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>
                        	<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="../img/home/3.png" alt="">
									<a href="/detailLixi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								
								<div class="card__content">
									<h3 class="card__title"><a href="#">{{this.fullName}}</a></h3>
									<span class="card__category">
										<a href="#">{{this.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>
                        	<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="../img/home/4.png" alt="">
									<a href="/detailLixi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								
								<div class="card__content">
									<h3 class="card__title"><a href="#">{{this.fullName}}</a></h3>
									<span class="card__category">
										<a href="#">{{this.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>			
                        <div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="../img/home/5.png" alt="">
									<a href="/detailLixi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								
								<div class="card__content">
									<h3 class="card__title"><a href="#">{{this.fullName}}</a></h3>
									<span class="card__category">
										<a href="#">{{this.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>	
                        <div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="../img/home/6.png" alt="">
									<a href="/detailLixi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								
								<div class="card__content">
									<h3 class="card__title"><a href="#">{{this.fullName}}</a></h3>
									<span class="card__category">
										<a href="#">{{this.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	</section>
	<!-- end expected premiere -->

	